{% extends "account_base.html" %}

{% load static %}

{% block title %} | Change Password{% endblock title %}

{% block content %}
    <img src="{% static 'images/sullivan-logo-torch.png' %}" alt="Sullivan Logo" />
    <h2 class="font-sans text-slate-700 text-2xl lg:text-4xl">
        <span class="text-indigo-600">Password</span> successfully changed.
    </h2>

    <div class="container max-w-xl px-3 lg:px-6 py-8 flex flex-col gap-4 rounded-lg bg-white shadow-lg shadow-zinc-400/30">
        <p>Your password is now changed. Where would you like to go next?</p>
        <a href="{% url 'pages:home' %}">Back to home</a>
        {% if not user.is_authenticated %}
            <a href="{% url 'account_login' %}">Login to your account</a>
        {% endif %}
    </div>
{% endblock %}