{% extends "account_base.html" %}

{% load account static form_field_tags %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
    <img src="{% static 'images/sullivan-logo-torch.png' %}" alt="Sullivan Logo" />
    <h2 class="font-sans text-slate-700 text-2xl lg:text-4xl">
        <span class="text-indigo-600">Reset</span> your password
    </h2>

    <div class="container max-w-xl px-3 lg:px-6 py-8 rounded-lg bg-white shadow-lg shadow-zinc-400/30">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="mb-4">
            Forgotten your password? Enter your e-mail address below, and we'll send you an email allowing you to
            reset it.
        </p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="w-full flex flex-col gap-4">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}

            {% if form.non_field_errors %}
                <div>
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% form_input form.email %}
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>

        <div class="mt-6 pt-6 flex flex-col gap-4 border-t border-slate-200">
            <p>
{#              TODO: Change this link to the site contact us page  #}
                Please <a href="#">contact us</a> if you have any trouble resetting your password.
            </p>
            <a href="{% url 'pages:home' %}">Back to home</a>
        </div>
    </div>
{% endblock %}