{% extends "account_base.html" %}

{% load static form_field_tags %}

{% block title %} | Change Password{% endblock title %}

{% block content %}
    <img src="{% static 'images/sullivan-logo-torch.png' %}" alt="Sullivan Logo" />
    <h2 class="font-sans text-slate-700 text-2xl lg:text-4xl">
        {% if token_fail %}
            <span class="text-indigo-600">Password Error</span>
        {% else %}
            <span class="text-indigo-600">Change</span> your password
        {% endif %}
    </h2>

    <div class="container max-w-xl px-3 lg:px-6 py-8 rounded-lg bg-white shadow-lg shadow-zinc-400/30">

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            The password reset link was invalid, possibly because it has already been used.  Please request a
            <a href="{{ passwd_reset_url }}">new password reset</a>.
        </p>
    {% else %}
        <form method="POST" action="{{ action_url }}" class="w-full flex flex-col gap-4">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}

            {% if form.non_field_errors %}
                <div>
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% form_input form.password1 %}
            {% form_input form.password2 %}
            <button type="submit" name="action" class="btn btn-primary">Change Password</button>
        </form>
    {% endif %}
    </div>
{% endblock %}