{% extends "account_base.html" %}

{% load account static form_field_tags %}

{% block title %} | Reset Password{% endblock title %}

{% block content %}
    <img src="{% static 'images/sullivan-logo-torch.png' %}" alt="Sullivan Logo" />
    <h2 class="font-sans text-slate-700 text-2xl lg:text-4xl">
        <span class="text-indigo-600">Reset</span> your password
    </h2>

    <div class="container max-w-xl px-3 lg:px-6 py-8 rounded-lg bg-white shadow-lg shadow-zinc-400/30">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>
            We have sent you an email containing a link to reset your password. If you have not received it within a
            few minutes, please check your spam folder. Please <a href="{% url 'contacts:contact-us' %}">contact us</a>
            if you do not receive it soon.
        </p>
    </div>
{% endblock %}