{% extends 'account_base.html' %}

{% load static form_field_tags %}

{% block title %} | Sign Up{% endblock title %}

{% block content %}
    <img src="{% static 'images/sullivan-logo-torch.png' %}" alt="Sullivan Logo" />
    <h2 class="font-sans text-slate-700 text-2xl lg:text-4xl">
        <span class="text-indigo-600">Sign up</span> for an account
    </h2>
    <div class="container max-w-xl px-3 lg:px-6 py-8 rounded-lg bg-white shadow-lg shadow-zinc-400/30">
        <form method="post" action="{% url 'account_signup' %}" class="w-full flex flex-col gap-4">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}

            {% if form.non_field_errors %}
                <div>
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% form_input form.email %}
            {% form_input form.password1 %}
            {% form_input form.password2 %}
            <div class="flex gap-2 items-start">
                <input type="checkbox" id="terms-and-conditions">
                {# TODO: add links to privacy policy and terms pages when finished #}
                <label for="terms-and-conditions">
                    I have read and agree to the <a href="#">privacy policy</a> and <a href="#">terms and conditions.</a>
                </label>
            </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" id="create-account-button" class="btn btn-primary" disabled>
                Create account
            </button>
        </form>
        <div class="mt-6 pt-6 flex flex-col gap-4 border-t border-slate-300">
            <div>
                <span class="text-slate-600">
                    Already have an account?
                    <a href="{% url 'account_login' %}" class="ml-2.5">
                        Log in
                    </a>
                </span>
            </div>
            <a href="{% url 'pages:home' %}">Back to home</a>
        </div>
    </div>
    <script>
        const submitButton = document.getElementById("create-account-button");
        const tacCheckbox = document.getElementById("terms-and-conditions");

        submitButton.disabled = true;

        tacCheckbox.addEventListener("change", () => {
            if (tacCheckbox.checked) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        });
    </script>
{% endblock content %}