<section class='py-6 bg-gray-100'>
    <div class='container mx-auto px-4 grid grid-cols-4 items-center'>
        <div class='col-span-2 lg:col-span-1'>
            <div>
                <span class='font-bold'>Your Rating</span>
                <a href="#" class='ml-2 font-normal text-sm text-indigo-500 hover:underline hover:text-indigo-700'>
                    VIEW ALL
                </a>
            </div>
            <p class='flex justify-start items-center font-bold text-8xl leading-tight text-lime-500'>
                4.75
            </p>
        </div>
        <div class='col-span-2 lg:col-span-1'>
            <p class='font-bold'>
                Your Coins
                <a href="#" class='ml-2 font-normal text-sm text-indigo-500 hover:underline hover:text-indigo-700'>
                    VIEW ALL
                </a>
            </p>
            <p class='flex justify-start items-center font-bold text-8xl leading-tight text-amber-400'>
                39.5
            </p>
        </div>
        <div class='lg:col-span-2'>
            <p class='mb-3 font-bold'>Alerts &amp; Notifications</p>
            <div class='space-y-4'>
                <p class='pt-4 pl-3 border-t-2 border-t-gray-300'>Lorem ipsum dolor sit amet.</p>
                <p class='pt-4 pl-3 border-t-2 border-t-gray-300'>Lorem ipsum dolor sit amet.</p>
                <p class='pt-4 pl-3 border-t-2 border-t-gray-300'>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</section>