{% extends 'base.html' %}

{% load static %}

{% block title %} | About{% endblock title %}

{% block content %}
    <div class="aboutHero">
        <div class="container mx-auto">
            <h1 class="text-5xl">About the TimeBank</h1>
        </div>
    </div>
    <div class="container mx-auto mt-16">
        <div class="tabs-container">
            <a id="about-tab" class="tab-link" data-tab-section="about-section">About the Timebank</a>
            <a id="faq-tab" class="tab-link" data-tab-section="faq-section">FAQ</a>
        </div>
    </div>
    <section id="about-section" class="tab-content mt-8 hidden">
        <div class="container mx-auto px-8">
            <div class="mx-auto prose max-w-[68rem] lg:prose-lg">
                <p>
                    Despite many local communities &#40;your school, church, sports club, town&#41;, many of us do not know
                    where to turn to help those in need or whom to ask when we need help. We can certainly donate our time
                    through local agencies who are possibly serving a different community than ours. However, these &quot;service
                    events&quot; do little to build community and friendships, and they often create a sense of the haves and
                    the have-nots.
                </p>
                <p>
                    TimeBanking was created to provide access to services you need while providing a tool for you to connect
                    and give back to others. TimeBanking is a mode of exchange that allows people to swap their skills and time,
                    rather than money, while building stronger connections within your community. Everyone has something to give,
                    and everyone has needs. The TimeBank encourages the virtues of both giving and receiving by earning and
                    using credits.
                </p>
            </div>
        </div>
        <div class="w-full my-14 py-6 grid grid-cols-1 bg-slate-200/40 lg:py-0 lg:grid-cols-2 items-center">
            <div class="max-w-xl mx-auto px-6 lg:ml-auto lg:mr-0">
                <h4 class="text-lg leading-loose text-center lg:text-xl lg:leading-loose lg:text-right xl:text-2xl xl:leading-loose">
                    Members of the TimeBank earn and spend &quot;time credits&quot;&mdash;for every hour they
                    spend on an activity that helps others, they receive one time credit. When they need help
                    from other TimeBank members with particular skills, they can &quot;spend&quot; their time
                    credits.
                </h4>
            </div>
            <div class="hidden lg:block">
                <img src="{% static 'images/questions.jpg' %}" alt="People Asking Questions" class="w-full object-cover" />
            </div>
        </div>
        <p class="max-w-[52rem] mx-auto my-8 px-6 lg:px-0 lg:text-lg xl:text-xl">
            Each TimeBank is a members-only community, where people in your community commit to the ideas and
            values of the TimeBank, including:
        </p>
        <div class="w-full grid grid-cols-1 lg:grid-cols-2 items-center">
            <div class="hidden lg:block">
                <img src="{% static 'images/delivery.jpg' %}" alt="Person Delivering Food" class="w-full object-cover" />
            </div>
            <div class="max-w-xl pl-6">
                <ul class="px-6 list-disc space-y-4 marker:text-lime-500 marker:text-3xl lg:text-lg">
                    <li>
                        <span class="text-2xl font-bold">Assets:</span><br />
                        Everyone has something to offer
                    </li>
                    <li>
                        <span class="text-2xl font-bold">Redefining work:</span><br />
                        Building home, family and community is valued work
                    </li>
                    <li>
                        <span class="text-2xl font-bold">Reciprocity:</span><br />
                        Encouraging givers to receive&mdash;and receivers to give&mdash; builds trust,
                        resiliency and sharing
                    </li>
                    <li><span class="text-2xl font-bold">Community:</span><br />
                        We are stronger together
                    </li>
                    <li><span class="text-2xl font-bold">Respect:</span><br />
                        Respect is the root of equality
                    </li>
                </ul>
            </div>
        </div>
        <p class="max-w-[52rem] mx-auto my-12 px-6 lg:px-0 lg:text-lg xl:text-xl">
            Members who wish to simply help the community through their service are able to donate their
            earned hours to a designated community pot so that members of that specific community who may
            not be able to provide services themselves can still receive benefit.
        </p>
        <h2 class="text-5xl text-center">Join our community<br />and start helping</h2>
        <div class="startNowCTA">
            <a
                href="{% url 'account_signup' %}"
                class="btn btn-large bg-indigo-600 text-white hover:bg-indigo-700"
            >
                Start Now
            </a>
        </div>
    </section>
    <section id="faq-section" class="tab-content container mx-auto mt-8 mb-16 hidden">
        {% for faq in faq_list %}
            <div class="faq-panel" x-data="{ open: false }">
                <h3 class="faq-label" @click="open = !open">{{ faq.title }}</h3>
                <div class="faq-content" x-show="open" x-transition.duration.200 x-transition.scale.origin.top>
                    {{ faq.body | safe }}
                </div>
            </div>
        {% endfor %}
        <div class="container flex">
            <img src="{% static 'images/person-in-chair.jpg' %}" alt="Person in chair" class="w-full">
            <div class="w-full flex flex-col justify-center items-start">
                <h4 class="text-3xl">Questions?</h4>
                <h2 class="text-5xl">We can help you!</h2>
                <p class="mb-4">Send us a message with your question, and we will answer you as soon as possible!</p>
                <a href="{% url 'contacts:contact-us' %}" class="btn btn-outline btn-primary">Contact us</a>
            </div>
        </div>
    </section>

    <script>
        function openTab(tabName, tabSectionName) {
            let i, tabContent, tabLinks;

            // Hide all tab content sections
            tabContent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].classList.add("hidden");
            }

            // Remove active class from all tabs
            tabLinks = document.getElementsByClassName("tab-link");
            for (i = 0; i < tabLinks.length; i++) {
                tabLinks[i].classList.remove("tab-active");
                tabLinks[i].classList.add("tab-inactive");
            }

            // Show current tab and set tab as active
            document.getElementById(tabSectionName).classList.remove("hidden");
            document.getElementById(tabName).classList.remove("tab-inactive");
            document.getElementById(tabName).classList.add("tab-active");
        }

        const tabs = document.getElementsByClassName("tab-link");

        for (let i = 0; i < tabs.length; i++) {
            tabs[i].addEventListener("click", () => {
                openTab(tabs[i].id, tabs[i].dataset.tabSection);
            });
        }

        openTab("about-tab", "about-section");
    </script>
{% endblock content %}