{% extends 'base.html' %}

{% block title %} | Terms and Conditions{% endblock title %}

{% block content %}
    <article class="max-w-6xl mx-auto mt-14 mb-8 prose lg:prose-lg">
        <h1>TimeBank <span class='text-indigo-600'>Terms and Conditions</span></h1>
        <p>
            <strong>TimeBanking is designed to encourage connections between community members</strong> on the basis
            that everyone has something to give and everyone has needs. TimeBank members commit to "give and receive"
            using credits earned and spent. The "golden rule" of TimeBanking is that an hour of my time is equal to an
            hour of your time. One hour of service given earns one-time credit. For one hour of service received, pay
            one-time credit.
        </p>
        <p>
            A commitment to the core values helps people to get into the spirit of TimeBanking and helps keep that
            spirit alive.
        </p>
        <ol>
            <li><strong>Assets:</strong> Everyone has something to offer;</li>
            <li><strong>Redefining Work:</strong> Building home, family and community is valued work;</li>
            <li>
                <strong>Reciprocity:</strong> Encouraging givers to receive&mdash;and receivers to give&mdash;builds trust and
                resiliency and sharing;
            </li>
            <li><strong>Community:</strong> We are stronger together;</li>
            <li><strong>Respect:</strong> Respect is the root of equality.</li>
        </ol>
        <p>
            TimeBanking is provided to you by the Algernon Sydney Sullivan Foundation (the Administrator). To
            participate in TimeBanking, you must become a TimeBanking member by having a member account. By
            participating in TimeBanking and becoming a TimeBanking member, you agree to these terms and conditions.
        </p>
        <p>
            These terms and conditions may change from time to time. The modified terms will be available on the website
            and will apply from the date on the top of this page. If you continue to use the TimeBanking website after
            this date, you accept the modified terms.
        </p>
        <ol>
            <li>
                <h4>MEMBERSHIP &amp; PARTICIPATION</h4>
                <ol type="I">
                    <li>It is free to become a TimeBanking account holder (TimeBanking Member).</li>
                    <li>
                        To be a TimeBanking Member, you must be either an individual over the age of 18, an entity (such as
                        an organization or company).
                    </li>
                    <li>
                        Unless otherwise permitted by the Administrator, you must not be an individual or an entity that has
                        had any TimeBanking account previously cancelled by the Administrator as a result of breaching these
                        terms and conditions.
                    </li>
                </ol>
            </li>
            <li>
                <h4>ACCOUNTS, USERNAMES AND PASSWORDS</h4>
                <ol type="I">
                    <li>
                        <strong>Accounts</strong>
                        <ol type="a">
                            <li>To create a member account, follow the instructions on the TimeBanking website to set up
                                a TimeBanking account.
                            </li>
                            <li>
                                Unless otherwise authorized by the Administrator, you may only operate one account.
                            </li>
                            <li>
                                You must set up your TimeBanking account by providing:
                                <ol type="i">
                                    <li>Your full legal name; and</li>
                                    <li>
                                        Accurate and truthful information as required by the account registration form
                                    </li>
                                </ol>
                            </li>
                            <li>
                                If your account details change, you should update your account details with accurate
                                and true information as soon as practicable.
                            </li>
                            <li>
                                The TimeBanking website allows you to control the account details that will be shared
                                with other TimeBanking Members.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <strong>Responsibility for account use:</strong><br />
                        You must keep your password information secure. You are responsible for all use of your
                        TimeBanking account, whether or not you have authorized it.
                    </li>
                </ol>
            </li>
            <li>
                <h4>TIMEBANKING SERVICES</h4>
                <ol type="I">
                    <li>
                        You may advertise and provide a variety of services using the TimeBanking website. An
                        advertisement to provide services is an invitation to treat and does not constitute an offer
                        that is capable of acceptance. You and the TimeBanking Member requiring the services must agree
                        for the services to proceed.
                    </li>
                    <li>
                        You should only provide TimeBanking services if you are a fit and proper person to provide the
                        services, and reasonably believe that you have the capability, skills and necessary
                        qualifications to provide those services. For example, if you have an illness or medical
                        condition you should not undertake any activities that would adversely affect your health. You
                        must ensure that you have all required licences and consents, relevant insurances, and comply
                        with the law when you provide any TimeBanking services.
                    </li>
                    <li>
                        You must act ethically in advertising and providing TimeBanking services, consistent with the
                        norms of TimeBanking.
                    </li>
                    <li>
                        You must only use the TimeBanking website to post advertisements or provide services that are
                        legal. You must not advertise or provide services that:
                        <ol type="a">
                            <li>are misleading or deceptive, or make false claims or representations;</li>
                            <li>promote any illegal activities; or</li>
                            <li>
                                infringe any third party right, including intellectual property, publicity, privacy or
                                proprietary rights.
                            </li>
                        </ol>
                    </li>
                    <li>
                        If the Administrator considers that you are making any illegal use of the TimeBanking website,
                        or providing illegal services, it may commence legal proceedings or report the matter to the
                        relevant law enforcement authorities. This is in addition to any other rights the Administrator
                        has at law and under these terms and conditions.
                    </li>
                    <li>
                        The Administrator may remove any content posted by a TimeBanking Member that the Administrator
                        considers to be harmful, threatening, unlawful, defamatory, abusive, harassing, obscene,
                        pornographic, sexually explicit, fraudulent, hateful, or promoting racism, bigotry, harms any
                        group or individual, or is contrary to the norms of TimeBanking.
                    </li>
                </ol>
            </li>
            <li>
                <h4>GENERAL OBLIGATIONS</h4>
                <ol type="I">
                    <li>
                        You must not use the TimeBanking website to:
                        <ol type="a">
                            <li>
                                upload, post, transmit, share, store or make available by any means any content that is
                                restricted by password or hidden from an accessible webpage;
                            </li>
                            <li>
                                use or attempt to use another TimeBanking Member's account without the Administrator's
                                authorization;
                            </li>
                            <li>
                                engage in any activities which involve unsolicited advertising or promotional
                                materials, including junk mail, spam, chain letters, pyramid schemes, surveys, contests,
                                sweepstakes, barter, and mass mailing;
                            </li>
                            <li>
                                collect usernames, email addresses or other contact information of other users by
                                using automated scripts or other means for the purpose of sending unsolicited emails, or
                                unauthorized linking or framing of the website; or
                            </li>
                            <li>
                                do anything that could damage, disable, overburden, impair or interfere with the proper
                                operation of the TimeBanking website.
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                <h4>TIME CREDITS</h4>
                <ol type="I">
                    <li>
                        One hour spent providing TimeBanking services to another TimeBanking Member is equivalent to one
                        hour of time credit that can be used to receive TimeBanking services from another TimeBanking
                        Member. The time credit accrued for services is rounded to the nearest half hour. The time
                        credit received for TimeBanking services is not dependent on the market value or retail cost of
                        those services.
                    </li>
                    <li>
                        Time credits earned via TimeBanking may only be used in accordance with these terms and
                        conditions. There are limits on the time credits that can be accrued and used (see section 9
                        below). Time credits are not transferable (other than donations to the TimeBanking Community
                        Chest), cannot be used for other community based exchange systems (unless provided for in these
                        terms and conditions), and cannot be converted to cash.
                    </li>
                </ol>
            </li>
            <li>
                <h4>BANKING TIME</h4>
                <ol type="I">
                    <li>
                        Only hours spent providing TimeBanking services to other TimeBanking Members can be banked and
                        recognized as time credit. The time credit accrued for services is rounded to the nearest half
                        hour.
                    </li>
                    <li>
                        You are able to access a record of the time credits accrued by logging into the TimeBanking
                        website. You will not be able to access the details of the past services provided to other
                        TimeBanking Members.
                    </li>
                    <li>
                        If you have provided services to another TimeBanking Member, you should record it on the
                        TimeBanking website as soon as possible. You must record the duration of your services fairly
                        and accurately. The TimeBanking website contains instructions on how to record the time accrued
                        providing TimeBanking services.
                    </li>
                    <li>
                        An email confirmation of the TimeBanking services provided, and the time claimed, will then be
                        sent to the TimeBanking Member which has received your services.
                    </li>
                    <li>
                        The Administrator may request TimeBanking Members for further information about any of the
                        TimeBanking services provided amongst TimeBanking Members, e.g. to determine whether time
                        credits have been validly earned and banked. You must promptly provide assistance and comply
                        with any request for further information that is reasonably requested by the Administrator.
                    </li>
                </ol>
            </li>
            <li>
                <h4>DONATION OF TIME CREDITS TO THE TIMEBANKING COMMUNITY CHEST</h4>
                <ol type="I">
                    <li>
                        You may donate any or all time credits that you have earned to the TimeBanking Community Chest.
                        Instructions for donating to the TimeBanking Community Chest are set out on the TimeBanking
                        website.
                    </li>
                    <li>
                        If you agree to donate time credits to the TimeBanking Community Chest, you acknowledge and
                        agree that:
                        <ol type="a">
                            <li>
                                time credits donated to the TimeBanking Community Chest cannot be retracted or withdrawn
                                once they have been donated;
                            </li>
                            <li>
                                you cannot donate more time credits than you have banked; and
                            </li>
                            <li>
                                (c)	time credits donated to the TimeBanking Community Chest may be used as the
                                Administrator sees fit (including, re-allocating them to other TimeBanking Members or
                                Organizations). You cannot direct how time credits that are donated will be dealt with
                                by the Administrator. However, you may also gift your time credits to any other member.
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                <h4>TIME CREDIT LIMITS</h4>
                <ol type="I">
                    <li>
                        The initial balance for all TimeBanking Members is 5 time credits. You may use these credits
                        for TimeBanking services, and the TimeBanking Member that provides the services to you will
                        still accrue time credits for the services provided to you.
                    </li>
                    <li>
                        If you accrue 60 hours or more in time credits, you must reduce your time credits to under 60
                        hours by:
                        <ol type="a">
                            <li>
                                using the time credits to receive services advertised by other TimeBanking Members;
                                or
                            </li>
                            <li>
                                donating the time credits to the TimeBanking Community Chest.
                            </li>
                        </ol>
                    </li>
                    <li>
                        The Administrator may by notice to you take steps to enforce the limits set out in this section
                        8, including by cancelling your TimeBanking account, or donating or cancelling time credits
                        above 60 hours that you have accrued.
                    </li>
                </ol>
            </li>
            <li>
                <h4>INACTIVE ACCOUNTS</h4>
                <ol type="I">
                    <li>
                        If there has been no activity in relation to your TimeBanking account for a period of 12 months
                        or more, the account will be considered by the Administrator to be inactive. The Administrator
                        may, by email notice to you, cancel your TimeBanking account. Any time credits you have will be
                        forfeited.<br />
                        If you still wish to participate in TimeBanking, you will need to set up a new TimeBanking
                        account. You will not be able to recover time credits from your previous TimeBanking account as
                        they have been forfeited.
                    </li>
                </ol>
            </li>
            <li>
                <h4>CANCELLING ACCOUNTS</h4>
                <ol type="I">
                    <li>
                        You may request cancellation of your TimeBanking account by contacting the Administrator by
                        email. The Administrator will cancel your TimeBanking account as soon as practicable. Any time
                        credits you have are forfeited. You will no longer be able to log into your TimeBanking account.
                    </li>
                    <li>
                        The Administrator may, without limiting its rights, suspend or cancel your TimeBanking account:
                        <ol type="a">
                            <li>
                                for any reason by sending you an email notifying you of the cancellation; or
                            </li>
                            <li>
                                without notice, if you commit a serious breach of any of these terms and conditions; or
                            </li>
                            <li>
                                on at least 14 days' notice by email, if you commit breach (other than a serious breach)
                                of any of these terms and conditions.
                            </li>
                        </ol>
                    </li>
                    <li>
                        If your TimeBanking account is cancelled for any reason, you will not be able to access your
                        account details and you will forfeit all time credits.
                    </li>
                </ol>
            </li>
            <li>
                <h4>GENERAL ADMINISTRATOR RIGHTS</h4>
                <ol type="I">
                    <li>
                        In addition to the Administrator's other rights under these terms and conditions, the
                        Administrator may at any time for any reason:
                        <ol type="a">
                            <li>
                                suspend your use of the TimeBanking website;
                            </li>
                            <li>
                                cancel any or all the services and functionality offered on the TimeBanking website;
                            </li>
                            <li>
                                make modifications to your TimeBanking account and time credits balance;
                            </li>
                            <li>
                                remove or modify any content, including advertisements, that you post on the TimeBanking
                                website; or
                            </li>
                            <li>
                                block access to all or any part of the TimeBanking website.
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                <h4>ACKNOWLEDGEMENTS AND CONSENTS</h4>
                <ol type="I">
                    <li>
                        You acknowledge and consent to the Administrator collecting and storing information about you in
                        connection with TimeBanking, and using that information to operate the TimeBanking website,
                        improve and further TimeBanking in the community, and to keep proper records during and after
                        your participation in TimeBanking.
                    </li>
                    <li>
                        The information you provide also may be provided to 3rd party researchers who are undertaking
                        research on the Administrator's behalf in relation to TimeBanking. Any personal information
                        provided to those researchers will be unidentifiable.
                    </li>
                    <li>
                        You acknowledge that the Administrator may, but is under no obligation whatsoever, to monitor
                        the TimeBanking website (including any content and any advertisements posted by TimeBanking
                        Members). The Administrator makes no promises or representations in relation to the type, skill,
                        qualifications, expertise or availability of persons that become TimeBanking Members, nor the
                        services or advertisements provided by them, including its legality, truth, accuracy, or
                        suitability.
                    </li>
                    <li>
                        You must exercise care and caution when interacting with people you do not know. You take full
                        responsibility for participating in TimeBanking (including using the TimeBanking website, and
                        receiving services from and providing services to other TimeBanking Members), and do so at your
                        own risk.
                    </li>
                    <li>
                        As a TimeBanking Member, you agree to undertake and request neighborly acts of kindness, caring
                        and assistance with other TimeBanking Members; assume the risk of injury, harm or damage in
                        connection with my providing or receiving TimeBank services; hold the Administrator harmless
                        from any and all liability, actions, claims and damages of any kind, including those caused by
                        or arising from negligence, for injury to person or property.
                    </li>
                </ol>
            </li>
            <li>
                <h4>DISCLAIMERS</h4>
                <ol type="I">
                    <li>
                        The Administrator is not responsible or liable in any manner for:
                        <ol type="a">
                            <li>
                                the accuracy, truth, appropriateness, completeness of any content posted by
                                TimeBanking Members on the TimeBanking website, including content in breach of section
                                3, that you may be exposed to while using the TimeBanking website;
                            </li>
                            <li>
                                any TimeBanking Member's online or offline conduct, including activities that are in
                                breach of sections 3 and 4;
                            </li>
                            <li>
                                the deletion and removal of your content (including advertisements);
                            </li>
                            <li>
                                any errors that may be in the TimeBanking website content or the accrual or use of time
                                credits;
                            </li>
                            <li>
                                any delay, suspension or cancellation of the TimeBanking website to you (including your
                                TimeBanking Member account);
                            </li>
                            <li>
                                your content, the TimeBanking website being error-free, defect-free or free from
                                interruption, external intruders (hackers), virus or worm attacks, denial of service
                                attacks, and persons having unauthorized access to the TimeBanking website or systems;
                                or
                            </li>
                            <li>
                                the services advertised by TimeBanking Members, including the nature, quality or
                                suitability of the services advertised.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Any information provided on the TimeBanking website (including any content and any
                        advertisements posted by TimeBanking Members) is for information only and is not intended, and
                        should not be taken or relied on, as advice. Unless expressly stated by the Administrator, the
                        Administrator does not recommend or endorse any views, opinions, advice, recommendations
                        (including any content and any advertisements posted by TimeBanking Members) on the TimeBanking
                        website.
                    </li>
                </ol>
            </li>
            <li>
                <h4>LIABILITY</h4>
                <ol type="I">
                    <li>
                        The Administrator accepts no liability for any loss, liability, damages, expenses, costs or
                        charges of any kind whether arising in tort (including negligence), equity or otherwise which
                        you suffer or incur arising from or in connection with your participation in TimeBanking
                        (including your use of the TimeBanking website, and the services you receive from and provide to
                        other TimeBanking Members).
                    </li>
                    <li>
                        Any representation, warranty, condition or undertaking that would be imposed by legislation,
                        common law, equity, trade, custom or usage is excluded to the maximum extent allowed by law.
                    </li>
                </ol>
            </li>
            <li>
                <h4>INDEMNITY</h4>
                <ol type="I">
                    <li>
                        You indemnify the Administrator (including its staff, personnel, independent contractors, and
                        directors) from any loss, liability, damages, expenses, costs or charges of any kind which the
                        Administrator (including its staff, personnel, independent contractors, and directors) suffers
                        or incurs arising from or in connection with your participation in TimeBanking (including your
                        use of the TimeBanking website, and the services you receive from and provide to other
                        TimeBanking Members).
                    </li>
                </ol>
            </li>
            <li>
                <h4>TAX IMPLICATIONS</h4>
                <ol type="I">
                    <li>
                        You are responsible and liable for any tax or other liabilities incurred in relation to
                        TimeBanking services you provide to or receive from other TimeBanking Members. TimeBanking does
                        not warrant or represent that it has examined the tax implications of any transaction that a
                        TimeBanking Member may enter into. If you are unsure about the tax or other liabilities that may
                        arise in relation to the TimeBanking services you provide or receive, you should obtain
                        accounting and financial advice on this issue.
                    </li>
                </ol>
            </li>
            <li>
                <h4>DISPUTES</h4>
                <ol type="I">
                    <li>
                        If any dispute arises between TimeBanking Members, the TimeBanking Members that are in dispute
                        should attempt to resolve the dispute. If the dispute is not resolved between the TimeBanking
                        Members that are in dispute, the dispute may be referred to the Administrator for mediation.
                    </li>
                </ol>
            </li>
            <li>
                <h4>GENERAL</h4>
                <ol type="I">
                    <li>
                        Your agreement to these terms and conditions does not create a relationship of partnership,
                        employment, principal and agent, or of trustee and beneficiary.
                    </li>
                    <li>
                        These terms and conditions are governed by the laws of the State of Mississippi. TimeBanking
                        Members agree to submit to the exclusive jurisdiction of the courts of Lafayette County,
                        Mississippi.
                    </li>
                </ol>
            </li>
        </ol>
    </article>
{% endblock content %}