@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: Mulish, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        @apply flex flex-col min-h-screen text-gray-700;
    }

    h1, h2, h3, h4 {
        font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
        font-weight: 700;
        @apply text-gray-700;
    }

    h1 {
        @apply mb-8 text-5xl;
    }

    h2 {
        @apply mb-6 text-2xl;
    }

    h3 {
        @apply mb-4 text-xl;
    }

    h4 {
        @apply mb-2 text-lg;
    }

    a {
        @apply font-bold text-indigo-600;
    }

    .navlink {
        @apply px-1 pt-1 h-full inline-flex items-center font-bold text-gray-500 border-b-2 border-transparent
            hover:border-gray-300 hover:text-gray-700;
    }

    .active-navlink {
        @apply px-1 pt-1 h-full inline-flex items-center font-bold text-indigo-700 border-b-2 border-indigo-500;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        @apply w-full px-4 py-2 rounded border-2 border-slate-400 focus:ring-0 focus:border-indigo-600 transition duration-150;
    }

    input[type="checkbox"] {
        @apply w-5 h-5 rounded-sm text-indigo-600 border-slate-400 border-2 focus:ring-indigo-600;
    }

    .tabs-container {
        @apply container max-w-[58rem] mx-auto mb-10 flex border-b-2 border-blue-800/20;
    }

    .tab-link {
        @apply w-full m-2 py-3 font-bold text-center lg:text-lg tracking-wide cursor-pointer rounded-lg duration-150;
    }

    .tab-active {
        @apply bg-indigo-500/20 text-indigo-800;
    }

    .tab-inactive {
        @apply text-gray-600 hover:bg-indigo-500/10;
    }

    .faq-panel {
        @apply mb-6 max-w-full mb-4 px-6 prose lg:prose-lg;
    }

    .faq-label {
        @apply relative px-5 py-3 bg-slate-300/20 text-slate-700 rounded-md cursor-pointer;
    }

    .faq-content {
        @apply max-w-[72rem] px-4 hidden;
    }

    .faq-panel.faq-active .faq-content {
        @apply block;
    }

    .alert-message {
        @apply w-full my-4 px-5 py-3 flex gap-2 rounded-lg;
    }

    .alert-success {
        @apply bg-emerald-400 text-emerald-950;
    }

    .alert-error {
        @apply bg-red-400 text-red-950;
    }
}
