{% extends 'manage_profile_base.html' %}

{% load form_field_tags %}

{% block title %} | Manage Profile{% endblock title %}

{% block profile_content %}
    <form method="post" class="mt-10 space-y-6">
        {% csrf_token %}
        <div class="pb-6 text-gray-500 border-b-2 border-gray-300">
            <h4 class="">
                Personal Information
            </h4>
            <p class="">
                Please complete all fields in the personal information section.
            </p>
        </div>
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        <div class="grid grid-cols-2 gap-8">
            {% form_input form.first_name %}
            {% form_input form.last_name %}
        </div>
        <div class="grid grid-cols-2 gap-8">
            {% form_input form.birthday %}
            {% form_input form.phone %}
        </div>
        <div class="grid grid-cols-2 gap-8">
            {% form_input form.street_address %}
            {% form_input form.street_address_2 %}
        </div>
        <div class="grid grid-cols-3 gap-8">
            {% form_input form.city %}
            {% form_input form.state %}
            {% form_input form.zip_code %}
        </div>
        <div class="grid grid-cols-2">
            {% form_input form.biography %}
        </div>
        <div class="pt-4 pb-6 text-gray-500 border-b-2 border-gray-300">
            <h4 class="">
                Social Media Accounts
            </h4>
            <p class="">
                Feel free to enter links to any of your social media accounts you'd like to share.
            </p>
        </div>
        <div class="grid grid-cols-2 gap-8">
            {% form_input form.facebook %}
            {% form_input form.twitter %}
        </div>
        <div class="grid grid-cols-2 gap-8">
            {% form_input form.instagram %}
            {% form_input form.linkedin %}
        </div>
        <div class="mb-8 pt-6 flex justify-end items-center gap-4">
            <a
                href="{% url 'dashboard:dashboard-home' %}"
                class="text-gray-500 font-normal hover:underline"
            >
                <i class="fa-solid fa-arrow-left mr-3"></i>Cancel and return to dashboard
            </a>
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </div>
    </form>
{% endblock profile_content %}